version: '3.8'
services:
  nodepulse:
    build: .
    image: nodepulse:local
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
